*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#section{
    display: flex;
}

.underDevelopment{
    height: 400px;
    width: 400px;
    background-image: url("/UnderConstruction.png");
    background-position: center;
    background-size: cover;
    position: relative;
    top: 100px;
    left: 20%;
}

.card{
    height: 400px;
    width: 400px;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 15px;
    position: relative;
    top: 90px;
    left: 6%;
    box-shadow: 8px 6px 10px rgb(98, 72, 54);
}

.image{
    height: 300px;
    width: 400px;
    background-image: url("/Karmaremovedbg.png");
    background-color: rgb(98, 72, 54);
    background-position: center;
    background-size: cover;
    --mask:
     radial-gradient(169.94px at 50% calc(100% - 228px),#000 99%,#0000 101%) calc(50% - 152px) 0/304px 100%,
     radial-gradient(169.94px at 50% calc(100% + 152px),#0000 99%,#000 101%) 50% calc(100% - 76px)/304px 100% repeat-x;
     -webkit-mask: var(--mask);
     mask: var(--mask);
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
}


#aboutme{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px;
    position: relative;
    bottom: 30px;
}

.skills{
    height: 400px;
    width: 400px;
    position: relative;
    top: 90px;
    left: 10%;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    /* overflow: hidden;
    overflow-y: scroll; */
    border-radius: 19px;
    box-shadow: 8px 6px 10px rgb(98, 72, 54);
}

.skills ul li{
    font-family: 'Pixelify Sans', sans-serif;
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    list-style-type: none;
    transition: font-size 0.6s, color 0.6s;
}

.skills h3{
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
    padding-top: 5px;
}

.skills .box{
    height: 30px;
    width: 100%;
    background-color: rgb(98, 72, 54);
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    color: #e5e4ce;
}

.skills ul li:hover{
    cursor: pointer;
    background-color: rgb(98, 72, 54);
    font-size: larger;
    color: #e5e4ce;
}

.skills ul li #gcap{
    padding-right: 10px;
}

.tools{
    height: 400px;
    width: 400px;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 19px;
    position: relative;
    top: 90px;
    left: 14%;
    box-shadow: 8px 6px 10px rgb(98, 72, 54);
    display: grid;
    grid-template-columns: repeat(12, 40px);
    grid-template-rows: repeat(10, 40px);
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 20px;
    
}
::-webkit-scrollbar-track{
    background-color: #4f3737;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
}
::-webkit-scrollbar-thumb{
    background-color: #402d00;
    width: 20px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
}

.tools .tbox{
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(98, 72, 54);
    color: #e5e4ce;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 11;
    position: sticky;
    top: 0px;
    left: 0px;
}

.tools .st{
    grid-row-start: 2;
    grid-row-end: 10;
    display: grid;
    grid-template-columns: repeat(12, 40px);
    grid-template-rows: repeat(8, 40px);
}

.st #python{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 40px;
    width: 40px;
    position: relative;
    display: inline-block;
}
.st #python:hover{
    color: rgb(38, 38, 108);
}

.st #javascript{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 40px;
    width: 40px;
}

#javascript:hover{
    color: rgb(187, 187, 0);
}

.st #react{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
    height: 40px;
    width: 40px;
}

#react:hover{
    color: rgb(5, 183, 183);
}

.st #node{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 8;
    height: 40px;
    width: 40px;
}

#node:hover{
    color: green;
}

.st #flutter{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 9;
    grid-column-end: 10;
    height: 40px;
    width: 40px;
}

#flutter:hover{
    color: rgb(31, 88, 175);
}

.st #java{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 40px;
    width: 40px;
}

#java:hover{
    color: rgb(194, 98, 8);
}

.st #clan{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 40px;
    width: 40px;
}

#clan:hover{
     color: rgb(31, 88, 175);
}

.st #dart{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
    height: 40px;
    width: 40px;
}
#dart:hover{
     color: rgb(52, 99, 171);
}

.st #db{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 8;
    height: 40px;
    width: 40px;
}
#db:hover{
    color: rgb(52, 99, 171);
}

.st #figma{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 9;
    grid-column-end: 10;
    height: 40px;
    width: 40px;
}
#figma:hover{
    color: #282828;
}

.st #aws{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 40px;
    width: 40px;
}
#aws:hover{
    background-color: #000;
    color: orange;  
}

.st #github{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 40px;
    width: 40px;
    position: relative;
    right: 16px;
}
#github:hover{
    color: #000;
}

.st #excel{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 6;
    height: 40px;
    width: 40px;
}
#excel:hover{
    color: green;
}

.st #powerpoint{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 7;
    grid-column-end: 8;
    height: 40px;
    width: 40px;
}
#powerpoint:hover{
    color: rgb(196, 106, 10);
}

.st #word{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 9;
    grid-column-end: 10;
    height: 40px;
    width: 40px;
}
#word:hover{
    color: rgb(21, 57, 149);
}

.st #html{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 40px;
    width: 40px;
}
#html:hover{
    color: rgb(184, 87, 6);
}

.st #css{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 40px;
    width: 40px;
}
#css:hover{
    color: rgb(21, 30, 139);
}

.st #unity{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 5;
    grid-column-end: 6;
    height: 40px;
    width: 40px;
}
#unity:hover{
    color: #000;
}

.st .i{
    cursor: pointer;
}
