*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(229, 228, 206);
    color: #252525;
    overflow-x: hidden;
}

nav{
    height: 40px;
    width: 100%;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 0px 1px 12px #777777;
}

nav .link{
    text-decoration: none;
    color:#252525;
    font-family: 'Pixelify Sans', sans-serif;
    position: relative;
    top: 10px;
    margin-left: 50px;
    letter-spacing: 0.2em;
    font-weight: 500;
}

nav .content{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   position: static;
   margin-right: 60px;
}

p{
    font-size: x-large;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
}

section {
    flex: 1;
}

section .profile{
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 18px;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 80px;
    left: 37%;
}

.message{
    position: relative;
    right: 10px;
}

#text1{
    margin-right: 50px;
}

#text3{
    margin-right: 90px;
    position: fixed;
}

.decoration{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
}

.decoration .plant{
    height: 150px;
    width: 150px;
    background-image: url("/Plant.png");
    background-position: center;
    background-size: cover;
}

.animation{
    display: flex;
    justify-content: center;
    width: 100%;
}

#typewriter{
    margin-left: 195px;
    min-width: 200px;
    min-height: 1.5em;
    display: inline-block;
}

.footer{
    width: 100%;
}

.footer .connect{
    display: flex;
    margin-top: 90px;
    justify-content: center;
}

#linkedin{
    height: 30px;
    width: 30px;
    color: #252525;
    transition: width 0.3s, height 0.3s;
}

#linkedin:hover{
    color: #121f69;
    width: 45px;
    height: 45px;
}

#github{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    color: #252525;
    transition: width 0.3s, height 0.3s;
}

#github:hover{
    color: #000;
    height: 45px;
    width: 45px;
}

#instagram{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    color: #252525;
    transition: height 0.3s, width 0.3s;
}

#instagram:hover{
    color: #c41f02;
    height: 45px;
    width: 45px;
}

#mail{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    color: #252525;
    transition: height 0.3s, width 0.3s;
}

#mail:hover{
    color: #1177ad;
    height: 45px;
    width: 45px;
}

/*mobile*/
@media only screen and (min-width: 360px) and (max-width: 800px) {
nav .link{
    margin-left: 40px;
}

nav .content{
   gap: 2px;
   margin-right: 80px;
}

p{
    font-size: large;
}

.decoration{
    max-width: 300px;
    position: relative;
    right: 5px;
}

.decoration .plant{
    height: 100px;
    width: 100px;
}

section .profile{
    height: 50px;
    width: 50px;
    border-radius: 14px;
    position: relative;
    top: 56px;
    left: 20%;
}

.message{
    position: relative;
    left: 18px;
}

#text1{
    margin-right: 30px;
}

#text3{
    margin-top: 10px;
    margin-right: 180px;
    position: fixed;
}

#typewriter{
    position: relative;
    top: 10px;
    margin-left: 60px;
}

.footer .connect{
    margin-top: 120px;
    margin-right: 20px;
}

#linkedin{
    height: 25px;
    width: 25px;
}

#linkedin:hover{
    width: 35px;
    height: 35px;
}

#github{
    height: 25px;
    width: 25px;
}

#github:hover{
    height: 35px;
    width: 35px;
}

#instagram{
    height: 25px;
    width: 25px;
}

#instagram:hover{
    height: 35px;
    width: 35px;
}

#mail{
    height: 25px;
    width: 25px;
}

#mail:hover{
    height: 35px;
    width: 35px;
}
}