*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(33, 33, 33);
    color: #fff;
}

p{
    font-size: x-large;
    text-align: center;
    margin-top: 200px;
    font-family: "Pixelify Sans", sans-serif;
}
